@page
@model ContosoUniversity.Pages.Instructors.DeleteModel

@{
    ViewData["Title"] = "Excluir Professor";
}

<h1>Excluir Professor</h1>

<h3>Você tem certeza que deseja excluir esse Professor? (Essa operação não pode ser desfeita)</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.HireDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Instructor.ID" />
        <a class="btn btn-info" asp-page="./Index">Voltar</a>
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </form>
</div>
