@page "{id:int?}"
@model ContosoUniversity.Pages.Instructors.IndexModel

@{
    ViewData["Title"] = "Professores";
}

<h2>Professores</h2>

<p>
    <a class="btn btn-primary" asp-page="Create">Cadastrar novo professor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instructor.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor.OfficeAssignment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InstructorData.Instructors)
        {
            string selectedRow = "";
            if (item.ID == Model.InstructorID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-page="./Index" asp-route-id="@item.ID">Disciplinas Vinculadas</a>
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.ID">Alterar</a>
                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.ID">Detalhes</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.InstructorData.Courses != null)
{
    <h3>Disciplinas vinculadas ao Professor</h3>
    <table class="table">
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Curso</th>
            <th></th>
        </tr>

        @foreach (var item in Model.InstructorData.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == Model.CourseID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-page="./Index" asp-route-courseID="@item.CourseID">Alunos matriculados</a>
                </td>
            </tr>
        }

    </table>
}

@if (Model.InstructorData.Enrollments != null)
{
    <h3>
        Alunos matriculados na disciplina
    </h3>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Nota</th>
        </tr>
        @foreach (var item in Model.InstructorData.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}