@page
@model ContosoUniversity.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Disciplinas";
}

<h1>Disciplinas</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Cadastrar nova Disciplina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseID">Alterar</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseID">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
