@page
@model ContosoUniversity.Pages.Departments.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Curso";
}

<h1>Detalhes do Curso</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-8" title="Token: @Html.DisplayFor(model => model.Department.ConcurrencyToken)">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Department.Budget)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Department.Budget)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Department.StartDate)
        </dt>
        <dd class="col-sm-8">
            @if (Model.Department.StartDate.ToString() != "")
            {
                @Model.Department.StartDate.ToString("dd-MM-yyyy");
            }
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Department.Administrator)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Department.Administrator.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-info">Voltar</a>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Department?.DepartmentID">Ir para Alteração</a>
</div>
